{% extends "base.html" %}

{% block content %}
<section id="not-found">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <p class="text-hero">404</p>
                <h1>Page is not found</h1>
                <a href="{% url "home" %}" class="btn btn-primary"> ← Retoure</a>

            </div>
        </div>
    </div>
</section>
{% endblock %}