{% load staticfiles flatpages%}
{% get_flatpages as flatpages %}
<!DOCTYPE HTML>
<html>

<head>
    <title>{% block title %}ChoK-Cars{% endblock title %}</title>

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="choK-cars,location de voiture,location,voiture" />
    <meta name="description" content="ChoK-Cars Location de voiture">
    <meta name="author" content="Qawba">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
     /GOOGLE FONTS -->

    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "css/icomoon.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-datetimepicker.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <script src="{% static "js/modernizr.js" %}"></script>
    <style type="text/css">

        ul.errorlist {
            margin: 0;
            padding: 0
        }
        ul.errorlist li{
            background-color: #f2dede;
            border-color: #ebccd1;
            color: #a94442;
            border: 1px solid transparent;
            border-radius:2px;
            font-size: 12px;
            margin:0 0 10px 0;
            padding:8px 15px;
            list-style: none;
        }
        #not-found{
            background: #eee;
            padding: 100px 0;
            margin: 0
        }
        #paypal{
            background: #eee;
            padding: 100px 0;
            margin: 0
        }
    </style>
</head>

<body>
    <div class="global-wrap global-wrap-color">

        <header id="main-header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Contact : +212 5 28 27 24 48 - info@chokcars.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url "home" %}">
                        <div style="background-image:url(/static/img/logo-invert.png);width:110px;height:33px;"></div>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">

                                <li><a href="/">Accueil</a>
                                </li>
                                <li><a href="{% url "vehicles" %}">Nos véhicules</a>
                                </li>

                                {% for page in flatpages %}
                                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                                {% endfor %}

                                <li><a href="{% url "contact" %}">Contacter nous</a>
                                </li>


                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        {% block content %}{% endblock content %}

            <div class="bg-holder">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url(/static/img/2048x1293.png);"></div>
                <div class="bg-content">
                    <div class="container">
                        <div class="gap text-center text-white">

                            <h5 class="last-minute-title">Les meilleurs prix de location de voitures, garantis</h5>
                            <p>Location de voiture simple et rapide chez Chok-cars</p>

                        </div>
                    </div>
                </div>
            </div>

            <footer id="main-footer">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li><a href="/">Accueil</a>
                                </li>
                                <li><a href="{% url "vehicles" %}">Nos véhicules</a>

                                {% for page in flatpages %}
                                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                                {% endfor %}

                                <li><a href="{% url "contact" %}">Contacter nous</a>
                                </li>
                                </li>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <p>© Chok-cars 2014 . Location de voitures au Maroc</p>
                        </div>

                    </div>
                </div>
            </footer>

            <script src="{% static "js/jquery.js" %}"></script>
            <script src="{% static "js/bootstrap.js" %}"></script>
            <script src="{% static "js/moment.js" %}"></script>
            <script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
            <script src="{% static "js/nicescroll.js" %}"></script>
            <script src="{% static "js/owl-carousel.js" %}"></script>
            <script src="{% static "js/gridrotator.js" %}"></script>
            <script src="{% static "js/custom.js" %}"></script>
            {% block scripting%}{% endblock%}
        </div>

</body>

</html>
