{% extends "base.html" %}

{% block content %}
<section id="contact">

    <div class="container">
        <h1 class="page-title">Contacter nous</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-7">
               <form id="messagecontact" method="post" action="{% url "contact" %}">
                {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-success">
                        <p>{{ message }}</p>
                        </div>
                        {% endfor %}
                    {% endif %}
                    <div id="messages"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group {% if form.name.errors %} has-error{% endif %}">
                                <label>Nom</label>
                                <input class="form-control" type="text" name="name"/>
                                 {% if form.name.errors %} <p class="help-block has-error">{{ form.name.errors}}</p>{% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group  {% if form.name.errors %} has-error{% endif %}">
                                <label>E-mail</label>
                                <input class="form-control" type="text" name="email"/>
                                {% if form.email.errors %} <p class="help-block has-error">{{ form.email.errors}}</p>{% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group  {% if form.name.errors %} has-error{% endif %}">
                        <label>Message</label>
                        <textarea class="form-control" name="message"></textarea>
                        {% if form.message.errors %} <p class="help-block has-error">{{ form.message.errors}}</p>{% endif %}
                    </div>
                    <input class="btn btn-primary" type="submit" value="Send Message" id="gform_submit_button_1"/>
                </form>
            </div>
            <div class="col-md-4">
                <aside class="sidebar-right">
                    <ul class="address-list list">
                        <li>
                            <h5>E-mail</h5><a href="#">info@chokcars.com</a>
                        </li>
                        <li>
                            <h5>Téléphone</h5><a href="#">+212 5 28 27 24 48<br>+212 6 04 39 29 03<br>+212 6 03 66 14 89</a>
                        </li>
                        <li>
                            <h5>Address</h5><address>N132, BD Mehdi be berka<br />Takrkourt<br />Dchiera Agadir<br />Maroc<br /></address>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</section>
{% endblock %}