{% extends "base.html" %}

{% block content %}
<section id="success">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <i class="fa fa-check round box-icon-large box-icon-center box-icon-success mb30"></i>
                <h2 class="text-center">Votre paiment a été effectué</h2>
                <h5 class="text-center mb30">Vous deverez recevoir les details de votre reservation sur votre boite email</h5>
            </div>
        </div>
    </div>
</section>
{% endblock %}
