{% extends "base.html" %}

{% block content %}
<section id="paypal">

    <div class="container">

        <div class="row">

            <div class="booking-item-details">

                <header class="booking-item-header">

                    <div class="col-md-9">
                        <h2 class="lh1em">{{ reservation.car.model}}</h2>
                        <h4>Marque de voiture : <strong>{{ reservation.car.vender}}</strong></h4>
                    </div>

                </header>

            </div>

            <div class="col-md-12">
                <hr>
            </div>

            <div class="col-md-6">

                <div class="row">

                    <img src="{{ reservation.car.image.url }}" alt="" title="" />

                    <div class="col-md-6">

                        <ul class="booking-item-features booking-item-features-expand clearfix">
                        <li><i class="fa fa-male"></i><span class="booking-item-feature-title">{{ reservation.car.pessengers }} passagers</span>
                        </li>

                        <li><i class="im im-car-doors"></i><span class="booking-item-feature-title">{{ reservation.car.door }} Portes</span>
                        </li>

                        <li><i class="fa fa-briefcase"></i><span class="booking-item-feature-title">{{ reservation.car.baggage }} Bagages</span>
                        </li>

                        <li><i class="im im-shift-auto"></i><span class="booking-item-feature-title">Boîte {{ reservation.car.transmition }}</span>
                        </li>
                        {% if reservation.car.climate_control %}
                            <li><i class="im im-climate-control"></i><span class="booking-item-feature-title">Climatisation</span>
                            </li>
                        {% endif %}

                    </ul>

                    </div>

                    <div class="col-md-6">

                        <ul class="booking-item-features booking-item-features-expand clearfix">
                        <li><i class="im im-diesel"></i><span class="booking-item-feature-title">{{ reservation.car.carburetor }}</span>
                        </li>
                        {% if reservation.car.sterio_cd_mp3 %}
                            <li><i class="im im-stereo"></i><span class="booking-item-feature-title">Stereo CD/MP3</span>
                            </li>
                        {% endif %}

{% if reservation.car.gps %}
                        <li><i class="fa fa-map-marker"></i><span class="booking-item-feature-title">GPS</span>
                        </li>

{% endif %}

{% if reservation.car.radio %}
                        <li><i class="im im-fm"></i><span class="booking-item-feature-title">FM Radio</span>
                        </li>

{% endif %}

                    </ul>

                    </div>

                    <div class="col-md-12">
                        <hr>
                    </div>

                    <div class="col-md-12">
                        <img class="pp-img" src="/static/img/paypal.png" alt="Image Alternative text" title="Image Title">
                        <p>Important: You will be redirected to PayPal's website to securely complete your payment.</p>
                    </div>


                </div>

            </div>

            <div class="col-md-6">

                <div class="booking-item-deails-date-location">

                    <ul>
                        <li>
                            <h5>Livraison:</h5>
                            <p><i class="fa fa-map-marker box-icon-inline box-icon-gray"></i>{{reservation.pickup_location}}</p>
                            <p><i class="fa fa-calendar box-icon-inline box-icon-gray"></i>{{ reservation.pickup_date|date:"d M Y"}}</p>
                            <p><i class="fa fa-clock-o box-icon-inline box-icon-gray"></i>{{ reservation.pickup_date|date:"H:i"}}</p>
                        </li>
                        <li>
                            <h5>Récupération:</h5>
                            <p><i class="fa fa-map-marker box-icon-inline box-icon-gray"></i>{{ reservation.dropoff_location}}</p>
                            <p><i class="fa fa-calendar box-icon-inline box-icon-gray"></i>{{ reservation.dropoff_date|date:"d M Y"}}</p>
                            <p><i class="fa fa-clock-o box-icon-inline box-icon-gray"></i>{{ reservation.dropoff_date|date:"H:i"}}</p>
                        </li>
                    </ul>

                    <hr>

                   <div class="booking-item-price-calc">
                        <ul class="list">
                            <li>
                                <p>Prix par jour <span>{{ reservation.car.price}}€</span>
                                </p>
                            </li>
                            <li>
                                <p>Nombre du jour <span>{{reservation.duration}}</span>
                                </p>
                            </li>
                            <li>
                                <p>Rental Tolal <span id="car-total">{{ reservation.amount }}€</span>
                                </p>
                            </li>
                        </ul>
                    </div>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
{{ form.as_p }}
<button type="submit" class="btn btn-primary">Réservez maintenant</button>
</form>

                </div>

            </div>

        </div>

    </div>

</section>
{% endblock %}
