{% extends "base.html" %}
{% block content %}
<section id="reservation">

    <div class="container">

        <div class="row">

            <div class="booking-item-details">

                <header class="booking-item-header">

                    <div class="col-md-9">
                        <h2 class="lh1em"> {{ car.model }} </h2>
                        <h4>Marque de voiture : <strong>{{ car.vender }}</strong></h4>
                    </div>

                    <div class="col-md-3">
                        <p class="booking-item-header-price"><small>prix </small>
                        <span class="text-lg" id="price" data-price="{{car.price}}">{{car.price}}€</span> /jour</p>
                    </div>

                </header>

            </div>

            <div class="col-md-12">
                <hr>
            </div>

            <div class="col-md-6">

                <img src="{{ car.image.url }}" alt="" title="" />

                <hr>

                <div class="col-md-6">
                    <ul class="booking-item-features booking-item-features-expand clearfix">

                        <li><i class="fa fa-male"></i><span class="booking-item-feature-title">{{ car.pessengers }} passagers</span>
                        </li>

                        <li><i class="im im-car-doors"></i><span class="booking-item-feature-title">{{ car.door }} Portes</span>
                        </li>

                        <li><i class="fa fa-briefcase"></i><span class="booking-item-feature-title">{{ car.baggage }} Bagages</span>
                        </li>

                        <li><i class="im im-shift-auto"></i><span class="booking-item-feature-title">Boîte {{car.transmition }}</span>
                        </li>
                        {% if car.climate_control %}
                            <li><i class="im im-climate-control"></i><span class="booking-item-feature-title">Climatisation</span>
                            </li>
                        {% endif %}

                    </ul>
                </div>

                <div class="col-md-6">
                     <ul class="booking-item-features booking-item-features-expand clearfix">

                        <li><i class="im im-diesel"></i><span class="booking-item-feature-title">{{ car.carburetor }}</span>
                        </li>
                        {% if car.sterio_cd_mp3 %}
                            <li><i class="im im-stereo"></i><span class="booking-item-feature-title">Stereo CD/MP3</span>
                            </li>
                        {% endif %}

{% if car.gps %}
                        <li><i class="fa fa-map-marker"></i><span class="booking-item-feature-title">GPS</span>
                        </li>

{% endif %}

{% if car.radio %}
                        <li><i class="im im-fm"></i><span class="booking-item-feature-title">FM Radio</span>
                        </li>

{% endif %}

                    </ul>
                </div>

            </div>


            <div class="col-md-6">

                <div class="booking-item-deails-date-location">

                    <form action="" method="post">
                    {% csrf_token %}

                        <div class="input-daterange" data-date-format="m/d">

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group form-group-icon-left {% if form.first_name.errors %}has-error{% endif %}"><i class="fa fa-user input-icon input-icon-hightlight"></i>

                                        <label for="id_first_name">Nom&nbsp;:</label>
                                        <input class="form-control" id="id_first_name" maxlength="64" name="first_name" type="text" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}">
                                        {% if form.first_name.errors %} {{ form.first_name.errors }} {% endif %}

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group form-group-icon-left {% if form.last_name.errors %}has-error{% endif %}"><i class="fa fa-user input-icon input-icon-hightlight"></i>

                                        <label for="id_last_name">Prénom&nbsp;:</label>
                                        <input value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}" class="form-control" id="id_last_name" maxlength="64" name="last_name" type="text">
                                        {% if form.last_name.errors %} {{ form.last_name.errors }} {% endif %}

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group form-group-icon-left {% if form.birth_date.errors %}has-error{% endif %}"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>

                                        <label for="id_birth_date">Date de naissance &nbsp;:</label>
                                        <input data-date-format="DD/MM/YYYY" value="{% if form.birth_date.value %}{{ form.birth_date.value }}{% endif %}" class="form-control" id="id_birth_date" name="birth_date" type="text">
                                        {% if form.birth_date.errors %} {{ form.birth_date.errors }} {% endif %}

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group form-group-icon-left {% if form.email.errors %}has-error{% endif %}"><i class="fa fa-phone input-icon input-icon-hightlight"></i>

                                        <p><label for="id_email">Email&nbsp;:</label>
                                        <input value="{% if form.email.value %}{{ form.email.value }}{% endif %}" class="form-control" id="id_email" maxlength="75" name="email" type="email"></p>
                                        {% if form.email.errors %} {{ form.email.errors }} {% endif %}

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group form-group-icon-left {% if form.phone.errors %}has-error{% endif %}"><i class="fa fa-envelope input-icon input-icon-hightlight"></i>

                                        <p><label for="id_phone">Tél&nbsp;:</label>
                                        <input value="{% if form.phone.value %}{{ form.phone.value }}{% endif %}" class="form-control" id="id_phone" maxlength="15" name="phone" type="text"></p>
                                        {% if form.phone.errors %} {{ form.phone.errors }} {% endif %}

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group form-group-icon-left {% if form.country.errors %}has-error{% endif %}"><i class="fa fa-flag input-icon input-icon-hightlight"></i>

                                        <p><label for="id_country">Pays&nbsp;:</label>
                                        <input value="{% if form.country.value %}{{ form.country.value }}{% endif %}" class="form-control" id="id_country" maxlength="255" name="country" type="text"></p>
                                        {% if form.country.errors %} {{ form.country.errors }} {% endif %}

                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group form-group-icon-left {% if form.address.errors %}has-error{% endif %}">
                                    <i class="fa fa-map-marker input-icon input-icon-hightlight"></i>

                                        <label for="id_address">Address&nbsp;:</label>
                                        <input value="{% if form.address.value %}{{ form.address.value }}{% endif %}" class="form-control" id="id_address" name="address">
                                        {% if form.address.errors %} {{ form.address.errors }} {% endif %}

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group form-group-icon-left {% if form.flight_number.errors %}has-error{% endif %}"><i class="fa fa-plane input-icon input-icon-hightlight"></i>

                                        <label for="id_flight_number">Flight number&nbsp;:</label>
                                        <input value="{% if form.flight_number.value %}{{ form.flight_number.value }}{% endif %}" class="form-control" id="id_flight_number" maxlength="255" name="flight_number" type="text">
                                        {% if form.flight_number.errors %} {{ form.flight_number.errors }} {% endif %}

                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <hr>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group form-group-icon-left {% if form.pickup_location.errors %}has-error{% endif %}"><i class="fa fa-map-marker input-icon input-icon-hightlight"></i>

                                        <label for="id_pickup_location">Lieu livraison&nbsp;:</label>
                                        <select class="form-control" id="id_pickup_location" name="pickup_location">
                                        {% for id, value in form.pickup_location.field.choices %}
                                            <option  value="{{id}}" {% ifequal form.pickup_location.value|safe id|safe%} selected {% endifequal %}>{{value}}</option>
                                        {% endfor %}
                                        </select>
                                        {% if form.pickup_location.errors %} {{ form.pickup_location.errors }} {% endif %}


                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group form-group-icon-left {% if form.pickup_date.errors %}has-error{% endif %}"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>

                                        <label for="id_pickup_date">Date et heur&nbsp;:</label>
                                        <input data-date-format="DD/MM/YYYY HH:mm" value="{% if form.pickup_date.value %}{{ form.pickup_date.value }}{% endif %}" class="date-pick form-control" id="id_pickup_date" name="pickup_date" type="text">
                                        {% if form.pickup_date.errors %} {{ form.pickup_date.errors }} {% endif %}

                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group form-group-icon-left {% if form.dropoff_location.errors %}has-error{% endif %}"><i class="fa fa-map-marker input-icon input-icon-hightlight"></i>

                                        <label for="id_dropoff_location">Lieu de récupération&nbsp;:</label>
                                        <select class="form-control" id="id_dropoff_location" name="dropoff_location">
                                        {% for id, value in form.dropoff_location.field.choices %}
                                            <option value="{{id}}" {% ifequal form.dropoff_location.value|safe id|safe%}selected{% endifequal %}>{{value}}</option>
                                        {% endfor %}
                                        </select>
                                        {% if form.dropoff_location.errors %} {{ form.dropoff_location.errors }} {% endif %}

                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group form-group-icon-left  {% if form.dropoff_date.errors %}has-error{% endif %}"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>

                                        <label for="id_dropoff_date">Date et heur &nbsp;:</label>
                                        <input data-date-format="DD/MM/YYYY HH:mm" value="{% if form.dropoff_date.value %}{{ form.dropoff_date.value }}{% endif %}" class="date-pick form-control" id="id_dropoff_date" name="dropoff_date" type="text">
                                        {% if form.dropoff_date.errors %} {{ form.dropoff_date.errors }} {% endif %}

                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group form-group-icon-left {% if form.message.errors %}has-error{% endif %}">

                                        <label for="id_message">Message&nbsp;:</label>
                                        <textarea class="form-control" id="id_message" name="message" ></textarea>
                                        {% if form.message.errors %} {{ form.message.errors }} {% endif %}

                                    </div>
                                </div>

                                <!--div class="col-md-12">
                                    <div class="form-group checkbox {% if form.cg.errors %} has-error{% endif %}">
                                    <label><input type="checkbox" name="cg">j'accepte
                                    <a href="condition.php">les conditions générales</a></label>
                                    </div>
                                </div-->

                            </div>

                            <input class="btn btn-primary" type="submit" value="Continuer">

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</section>


{% endblock %}

{% block scripting %}
<script>
$(document).ready(function() {
    $('input#id_birth_date').datetimepicker({
        pickTime:false,
        useCurrent: false,
    });


    var mindt = new Date();
    var startdate = new Date("{{reservation.pickup_date.isoformat}}");
    var enddate = Date.parse("{{reservation.dropoff_date.isoformat}}");
    if( !isNaN(enddate) )
    {
        mindt = new Date("{{reservation.dropoff_date.isoformat}}");
    }

    console.log(mindt);
    $('input.date-pick').datetimepicker({

        pickDate: true,                 //en/disables the date picker
        pickTime: true,                 //en/disables the time picker
        useMinutes: true,               //en/disables the minutes picker
        useSeconds: false,               //en/disables the seconds picker
        useCurrent: false,               //when true, picker will set the value to the current date/time
        minuteStepping:1,               //set the minute stepping
        minDate:mindt,               //set a minimum date
        showToday: true,
        sideBySide: false,                 //shows the today indicator
        language:'en',                  //sets language locale
        defaultDate:'',                 //sets a default date, accepts js dates, strings and moment objects
        disabledDates:[],               //an array of dates that cannot be selected
        enabledDates:[],                //an array of dates that can be selected

        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-arrow-up",
            down: "fa fa-arrow-down"
        }
    });
});
</script>
{% endblock %}