{% extends "base.html" %}
{% block content %}
        <!-- TOP AREA -->
        <div class="top-area show-onload">
            <div class="bg-holder full">
                <div class="bg-front full-height bg-front-mob-rel">
                    <div class="container full-height">
                        <div class="rel full-height">
                            <div class="tagline visible-lg" id="tagline"><span>Chok-cars</span>
                                <ul>
                                    <li>Location de voiture</li>
                                    <li class="active">Les meilleurs prix</li>
                                    <li>De grandes marques</li>
                                    <li>De nombreux choix</li>
                                    <li>Des économies énormes</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="owl-carousel owl-slider owl-carousel-area visible-lg" id="owl-carousel-slider" data-nav="false">
                    <div class="bg-holder full">
                        <div class="bg-mask"></div>
                        <div class="bg-img" style="background-image:url(/static/img/slide-show21.jpg);"></div>
                    </div>
                    <div class="bg-holder full">
                        <div class="bg-mask"></div>
                        <div class="bg-img" style="background-image:url(/static/img/slide-show31.jpg);"></div>
                    </div>
                    <div class="bg-holder full">
                        <div class="bg-mask"></div>
                        <div class="bg-img" style="background-image:url(/static/img/slide-show41.jpg);"></div>
                    </div>
                    <div class="bg-holder full">
                        <div class="bg-mask"></div>
                        <div class="bg-img" style="background-image:url(/static/img/slide-show51.jpg);"></div>
                    </div>
                </div>
                <div class="bg-img hidden-lg" style="background-image:url(/static/img/slide-show51.jpg);"></div>
                <div class="bg-mask hidden-lg"></div>
            </div>
        </div>
        <!-- END TOP AREA  -->

        <div class="global-wrap">
            <div class="container text-center">
                <div class="gap"></div>
                <div class="gap">
                    <div class="row row-wrap">
                        <div class="col-md-10 col-md-offset-1">


                            {% for car in cars %}
                                <div class="col-md-4">
                                    <div class="thumb">
                                        <header class="thumb-header">
                                            <a href="{% url "vehicle" car.slug %}">
                                                <img src="{{ car.image.url }}" alt="" title="" />
                                            </a>
                                        </header>
                                            <div class="thumb-caption">
                                                <h5 class="thumb-title"><a class="text-darken" href="{% url "vehicle" car.slug %}">{{ car.model }}</a></h5>
                                                <small>{{ car.vender }}</small>
                                                <ul class="booking-item-features booking-item-features-small booking-item-features-sign clearfix mt5">
                                                    <li rel="tooltip" data-placement="top" title="Passagers"><i class="fa fa-male"></i><span class="booking-item-feature-sign">x {{ car.pessengers }}</span>
                                                    </li>
                                                    <li rel="tooltip" data-placement="top" title="Portes"><i class="im im-car-doors"></i><span class="booking-item-feature-sign">x {{ car.door }}</span>
                                                    </li>
                                                    <li rel="tooltip" data-placement="top" title="Bagages"><i class="fa fa-briefcase"></i><span class="booking-item-feature-sign">x {{ car.baggage }}</span>
                                                    </li>
                                                    <li rel="tooltip" data-placement="top" title="Boîte manuelle"><i class="im im-shift"></i><span class="booking-item-feature-sign">{{ car.transmition }}</span>
                                                    </li>
                                                </ul>
                                                <p class="text-darken mb0 text-color">€ {{ car.price }}<small> / Jour</small>
                                                </p>
                                            </div>

                                        <br>

                                        <a href="{% url "vehicle" car.slug %}" class="btn btn-primary">Réservation en ligne</a>
                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                        <div class="gap gap-small"></div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}