{% extends "base.html" %}

{% block content %}
        <div class="container text-center">
            <div class="gap"></div>
            <div class="gap">
                <div class="row row-wrap">
                <div class="col-md-10 col-md-offset-1">

                            {% for car in cars %}
                                <div class="col-md-4">
                                    <div class="thumb">
                                        <header class="thumb-header">
                                            <a href="{% url "vehicle" car.slug %}">
                                                <img src="{{ car.image.url }}" alt="" title="" />
                                            </a>
                                        </header>
                                            <div class="thumb-caption">
                                                <h5 class="thumb-title"><a class="text-darken" href="{% url "vehicle" car.slug %}">{{ car.model }}</a></h5>
                                                <small>{{ car.vender }}</small>
                                                <ul class="booking-item-features booking-item-features-small booking-item-features-sign clearfix mt5">
                                                    <li rel="tooltip" data-placement="top" title="Passagers"><i class="fa fa-male"></i><span class="booking-item-feature-sign">x {{ car.pessengers }}</span>
                                                    </li>
                                                    <li rel="tooltip" data-placement="top" title="Portes"><i class="im im-car-doors"></i><span class="booking-item-feature-sign">x {{ car.door }}</span>
                                                    </li>
                                                    <li rel="tooltip" data-placement="top" title="Bagages"><i class="fa fa-briefcase"></i><span class="booking-item-feature-sign">x {{ car.baggage }}</span>
                                                    </li>
                                                    <li rel="tooltip" data-placement="top" title="Boîte manuelle"><i class="im im-shift"></i><span class="booking-item-feature-sign">{{ car.transmition }}</span>
                                                    </li>
                                                </ul>
                                                <p class="text-darken mb0 text-color">€ {{ car.price }}<small> / Jour</small>
                                                </p>
                                            </div>

                                        <br>

                                        <a href="{% url "vehicle" car.slug %}" class="btn btn-primary">Réservation en ligne</a>
                                    </div>
                                </div>
                            {% endfor %}
                </div>
                <div class="gap gap-small"></div>
            </div>
            </div>
        </div>
        <br><br>
{% endblock %}