{% extends "base.html" %}

{% block content %}

        <div class="container">
            <div class="gap-small"></div>
            <h1 class="page-title">{{ flatpage.title }}</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ flatpage.content }}
                </div>
            </div>
            <div class="gap"></div>
        </div>
        <br>
{% endblock %}