<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ item_name }} </title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

  <style type="text/css">
    body {
      padding: 0 .5in .5in .5in;
      background: #eee;
    }
    .print {
      margin: 0 auto;
      padding: .25in;
      width: 5.5in;
      font-family: 'Open Sans', sans-serif!important;
      font-size: 11pt;
      text-align: center;
      color: #999;
    }
    .print a {
      margin: 0 10px;
      font-size: 11pt;
      font-weight: bold;
      line-height: 1;
      color: #333;
      text-decoration: none;
    }
    .print a img {
      position: relative;
      top: 2px;
      margin: 0 1px 0 0;
    }
    .print a:hover {
      opacity: .7;
    }
    hr{border: 0;border-top: 1px solid #ccc;}
    .receipt {
      margin: 0 auto;
      padding: 0;
      width: 5.5in;
      font-family: 'Open Sans', sans-serif!important;
      font-size: 10pt;
      color: #333;
      border: 1px solid #ccc;
      background: #fff;
      border-radius: 3px;
      box-shadow: 0px #ddd;
    }
    header {
      margin: 0;
      padding:20px 30px;
      border-bottom: 3pt solid #999;
      overflow: hidden;
    }
    h1 {
      margin: 0 0 20px 0;
      padding: 0 0 10px 0;
      font-size: 24pt;
      line-height: 1;
      letter-spacing: -1pt;
      border-bottom: 1px solid #ccc;
    }
    h3 {
      float: right;
      margin: 0;
      padding: 18px 0 0 0;
      font-size: 11pt;
      font-weight: normal;
      line-height: 1;
      color: #999;
    }
    address {
      font-size: 14px;
      font-style: normal;
      line-height: 1.4;
    }
    address.chokcars {
      background:#333;
      float: right;
      width: 100%;
      text-align: center;
      padding: 20px 0 0 0
    }
    address.chokcars a {
      display: block;
      width: 100%;
      padding: 5px 0 20px 0;
      color: #eee;
      text-decoration: none;text-transform: none;
    }
    address.chokcars img {
      margin:10px auto 0 auto;
    }
    address span.message {
      display: block;
      margin: 10px 0 0 0;
      color: #999;
    }
    address span.message a {
      color: #333;
    }
    address span.message a:hover {
      color: #777;
    }
    div.details {
      position: relative;
       padding:0px 30px 20px 30px;
    }
    table {
      clear: both;
      width: 100%;
      border-collapse: collapse;
    }

    table th{
      margin: 0;
      padding:5px 10px;
      text-align: left;
      border-top: 1pt solid #ccc;
    }

    table td.total{
      margin: 0;
      padding:5px 0px;
      text-align: left;
      font-weight: bold;
      border-top: 1pt solid #ccc;
    }

    table td {
      margin: 0;
      font-size: 10pt;
      padding:5px 0px;
      text-align: left;
      border: 0pt solid #ccc;
    }
    table th {
      font-size: 0pt;
      text-transform: uppercase;
      color: #999;
    }
    table .num {
      text-align: right;
    }
    table td span.meta {
      display: block;
      margin: 5px 0 0 0;
      font-size: 10pt;
      color: #777;
    }
    img.stamp {
      position: absolute;
      bottom: 2px;
      right: 70px;
    }
    h2 {
      margin: .5in;
      font-size: 40pt;
      line-height: 1;
      text-align: center;
      letter-spacing: -1pt;
      color: #ccc;
    }
    footer {
      margin: 0;
      padding:20px 30px;
      font-size: 12px;
      line-height: 18px;
      color: #777;
      border-top: 3pt solid #999;
    }
    footer img {
      float: right;
    }
    footer a {
      color: #999;
      text-decoration: none;
    }

label{padding:0px;font-size: 14px;color: #57585a;margin:10px auto 0px auto;display: block;text-align: center;font-weight: 300;}


  </style>
</head>

<body>
    <div class="print">
        <a href="#" onclick="javascript:window.print();"> Print </a>
    </div>

    <div class="receipt">

        <address class="chokcars">
            <img src="{{ logo }}">
            <a href="http://www.chokcars.com/">www.chokcars.com</a>
        </address>

        <header>
            <h3>Facture: {{ invoice }}</h3>

            <address class="customer">
                <strong>{{first_name}} {{last_name}}</strong>
            </address>
        </header>

        <img alt="Icon-print-2x" src="{{ car_image }}" width="100%">

        <div class="details">
            <table>
                <tbody>
                    <tr>
                        <td colspan="2" width="50%"><strong>Livraison :</strong></td>
                        <td colspan="2" width="50%"><strong>Récupération :</strong></td>
                    </tr>

                    <tr>
                        <td colspan="2">Lieu : <strong>{{ pickup_location }}</strong></td>
                        <td colspan="2">Lieu : <strong>{{ dropoff_location }}</strong></td>
                    </tr>

                    <tr>
                        <td colspan="2">Date : <strong>{{ pickup_date|date:"d M Y"}}</strong></td>
                        <td colspan="2">Date : <strong>{{ dropoff_date|date:"d M Y"}}</strong></td>
                    </tr>

                    <tr>
                        <td colspan="2">Heur : <strong>{{ pickup_date|date:"H:i"}}</strong></td>
                        <td colspan="2">Heur : <strong>{{ dropoff_date|date:"H:i"}}</strong></td>
                    </tr>

                    <tr>
                        <td colspan="4"><hr /></td>
                    </tr>

                    <tr>
                        <td colspan="2"></td>
                        <td>Prix par jour</td>
                        <td>{{ price }}€</td>
                    </tr>

                    <tr>
                        <td colspan="2"></td>
                        <td>Nombre de jour</td>
                        <td> {{ duration }}</td>
                    </tr>

                    <tr>
                        <td colspan="2"></td>
                        <td class="total">Tolal</td>
                        <td class="total">{{ amount }}€</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <footer>
            Si vous avez des questions contactez nous: <strong><a href="#">info@chokcars.com</a></strong>
        </footer>
    </div>
</body>
</html>